.banner-container {
  margin-top: 200px;
}

.heading-container {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  #index-page-heading{
    font-size: 16px;
    font-weight: 400px;
  }
}

.breadcrumbs {
  display: inline-block;
  text-decoration: none;
  padding: 8px;
}

.index-page-row {
  display: flex;
  padding-top: 8px;
}

.filter-container form {
  max-width: 75%;
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  margin-bottom: 50px;
}

.product-grid {
  margin-bottom: 50px;
}

.recently-viewed-container {
  background-color: #F2F2F2;
  border-top: 1px solid lightgrey;
}

// .tv {
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   margin: 30px 0px 30px 0px;
// }

// .tv img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .tv h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .tv p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .tv .tv-infos {
//   padding: 16px;

// }
