.banner-container {
  margin-top: 200px;
}

.heading-container {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  #index-page-heading{
    font-size: 16px;
    font-weight: 400px;
  }
}

.breadcrumbs {
  display: inline-block;
  text-decoration: none;
  padding: 8px;
}

.index-page-row {
  display: flex;
  padding-top: 8px;
}


.filter-container form {
  max-width: 80%;
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  margin-bottom: 50px;

}

.col-3 abbr {
  display: none;

}

.product-grid {
  margin-bottom: 50px;
  width: 100%;

  a {
    margin: 20px;
  }
}

.recently-viewed-container {
  background-color: #F2F2F2;
  border-top: 1px solid lightgrey;
}

