.main-gallery-image {
  text-align:center;
  width:100%;
}

.scroll-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  height: 100px;
  width: 100%;
}

.scroll_image {
  height: 96px;
  cursor: pointer;
  margin-right: 3px;
  margin-top: 2px;
}

.tv-showpage-container {
  margin-top: 90px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.tv-specs {
  position: sticky;
  top: 70px;
  align-self: flex-start;

}

// ------------------ new listing

.new-listing-container {
  margin-top: 150px;
  margin-bottom: 64px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 0px 10px 1px   #C0C0C0;

    input {
      border-radius: 6px;
    }
    textarea {
      border-radius: 6px;
    }
}

// -------------------------- edit listing

.edit-listing-container {
  margin-top: 150px;
  margin-bottom: 64px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 0px 10px 1px   #C0C0C0;

    input {
      border-radius: 6px;
    }
    textarea {
      border-radius: 6px;
    }
}
