// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";


@font-face {
  font-family: "gill-sans-bold";
  src: url('Gill Sans Bold.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: "gill-sans-light";
  src: url('Gill Sans Light.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: "gill-sans-medium";
  src: url('Gill Sans Medium.otf') format('opentype');
  font-weight: normal;
}
