 <% @tvs.each do |t| %>
   <div class="mydiv">
    <div class="tv">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="tv-infos">
          <h2><%= t.name %></h2>
          <h2><%= t.size %></h2>
        <%= Date.today %>
      </div>
    </div>
  <% end %>
</div>

<div>
  <%= link_to 'hi', tv_path(tv), class: 'btn btn-secondary' %>
</div>
