 <% @tvs.each do |t| %>
  <%= link_to tv_path(t.id) do %>
   <div class="mydiv">
    <div class="tv">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="tv-infos">
          <h2><%= t.name %></h2>
          <h2><%= t.size %></h2>
        <%= Date.today %>
      </div>
    </div>
  </div>
<% end %>
<% end %>
