<div class="container">
   <div class="row ">
    <div class="">
      <h4>Tv name</h4>
      <p><%= @tv.name %></p>
      <h4>Tv size</h4>
      <p><%= @tv.size %>"</p>
      <h4>Description</h4>
      <p><%= @tv.description %></p>
      <h4>Price</h4>
      <p>£<%= @tv.price %></p>
    </div>
   </div>
</div>
