<div class="cards d-flex justify-content-around">

<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1542744095-291d1f67b221?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
  <div class="card-trip-infos">
    <div>
    <h2>CHOOSE YOUR TV</h2>
    </div>
  </div>
</div>

<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1563013544-824ae1b704d3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2250&q=80" />
  <div class="card-trip-infos">
    <div>
      <h2>PLACE YOUR ORDER</h2>
    </div>
  </div>
</div>

<div class="card-trip">
  <img src="https://discounttvs.co.uk/wp-content/uploads/2020/03/OrderProcess3.png" />
  <div class="card-trip-infos">
    <div>
      <h2>SIT BACK & WAIT FOR A CALL FROM US</h2>
    </div>
  </div>
</div>

<div class="card-trip">
  <img src="https://discounttvs.co.uk/wp-content/uploads/2020/03/OrderProcess4.png" />
  <div class="card-trip-infos">
    <div>
      <h2>WE'LL DELIVER & YOU PAY ON THE DAY </h2>
    </div>
  </div>
</div>

</div>
