<div class="cards d-flex justify-content-around w-1000">

<div class="card-trip">
  <img src="https://discounttvs.co.uk/wp-content/uploads/2020/03/OrderProcess1.png" />
  <div class="card-trip-infos">
    <h2>CHOOSE YOUR TV</h2>
    </div>
  </div>

<div class="card-trip">
  <img src="https://discounttvs.co.uk/wp-content/uploads/2020/03/OrderProcess2.png" />
  <div class="card-trip-infos">
    <div>
      <h2>PLACE YOUR ORDER</h2>
    </div>
  </div>
</div>

<div class="card-trip">
  <img src="https://discounttvs.co.uk/wp-content/uploads/2020/03/OrderProcess3.png" />
  <div class="card-trip-infos">
    <div>
      <h2>SIT BACK & WAIT FOR A CALL FROM US</h2>
    </div>
  </div>
</div>

<div class="card-trip">
  <img src="https://discounttvs.co.uk/wp-content/uploads/2020/03/OrderProcess4.png" />
  <div class="card-trip-infos">
    <div>
      <h2>WE'LL DELIVER & YOU PAY ON THE DAY </h2>
    </div>
  </div>
</div>

</div>
