<div class="footer">
  <div class="footer-links ">
    <a href="#"><i class="fab fa-instagram fa-1x"></i></a>
    <a href="#"><i class="fab fa-facebook fa-1x"></i></a>
  </div>
  <div class="aligned">
    <div class="ptags">
      <%= link_to "Customer Service", tvs_path, class: "nav-link" %>
    </div>
    <div class="ptags">
      <%= link_to "About Us", tvs_path, class: "nav-link" %>
    </div>
    <div class="ptags">
      <%= link_to "Spare Part Help", tvs_path, class: "nav-link" %>
    </div>
  </div>
  <div class="footer-links">
        <img id="creditcards" src="//assets.ransomspares.co.uk/Shop/Images/CreditCards.png" alt="">
  </div>
</div>


