<div class=" m-4 p-4">
<h2 class="contact-title text-center "> Get in touch</h2>
<h6 class="text-center contact-heading pb-4">Let's find you the perfect TV</h6>
  <div class="">
    <form
      action="https://formspree.io/f/maylbbpb"
      method="POST">

    <div class=" d-flex justifty-content-center ">
      <div class="">
        <label>
        Name
          <input type="text" name="name" class="input">
        </label>
      </div>

      <div class="">
        <label>
        Email
          <input type="text" name="_replyto" class="input ">
        </label>
      </div>

      <div class="">
        <label>
        Phone Number
          <input type="text" name="_replyto" class="input">
        </label>
      </div>
    </div>

    <div class="">
      <label>
      Your Message
        <textarea name="message" class="input p-1"></textarea>
      </label>
    </div>
    <div class="text-center m-3">
      <button id="form-button" type="submit">Send</button>
    </div>
    </form>
  </div>

  <div class="contact-details mt-5 pt- text-center">
    <h6>Discount Digital LTD | 86-90 Paul Street, London, UK</h6>
    <h6>0203 411 3462</h6>
  </div>


</div>
