<div class="row">
  <div class="col-sm-9">
    <div class ='search_bar mb-5'>
      <%= form_tag tvs_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control h70",
          placeholder: "Search by keyword"%>
          <%= button_tag type: 'submit', class: "button postfix" do %>
            <i class="fa fa-search" aria-hidden="true"></i>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
