.bestsellers-title {
 font-family: gill-sans-light;
}
.extra-info {
  font-size: 16px;
  line-height: 20px;
  color: black;
  font-family: gill-sans-light;
}

  .product-description h5 {
    font-size: 16px;
    line-height: 22px;
    color: black;
}

