  .dtv-button {
    background-color: #1966AE;
    border-radius: 4px;
    min-width: 100px;
    width: auto;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border: none;
    color: white;
    font-family: gill-sans-light;

  }
