.whole-footer {
  background-color: #F2F2F2;
}
.footer {
  height: 20rem;
}
.nav-link {
  color: black;
}

.aligned {
  display: flex;
  align-items: center;
}

.aligned a:hover {
color : #1966AE;
}

.social-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  margin: 20px;
}
.social-links a:hover {
  color: #1966AE;
}

.border-property {
  border-top: 1px solid lightgrey;
}

// .min-height {
//   min-height: calc(100vh - 64px - 115px);
// }

