form {
  // display: flex;
  // flex-direction: column;
  // border: 1px solid;
  // border-radius: 5px;
  width: 100%;
  // padding: 16px;
  // margin: 0 auto;
  .input {
    background-color: #F5F8FA;
    border-radius: 2px;
    width: 100%;
    border: 1px solid #CBD7E2;
  }
}

.contact-heading-h5 {
  opacity: 0.4;
}
