.contact-title {
font-family: gill-sans-medium;
}

.contact-heading {
  font-family: gill-sans-light;
  opacity: 0.5;
}

.full-form {
  width: 50%;
  margin: 0 auto;
  .input {
    background-color: #F5F8FA;
    border-radius: 1px;
    width: 100%;
    border: 1px solid #CBD7E2;

  }
}

.form--inputs-top {
  justify-content: space-between;
}

.message--input {
  width: 100%;
}

.contact-details h6 {
  font-family: gill-sans-light;
}



